
*{
    padding: 0;
    margin: 0;
    font-family:'Poppins', serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg, #43e97b 0%, #38f9d7 100%) ;
}
.container{
    max-width:1200px;
    width:100%;
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: green;

}

.container .title ::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
}

.container form .user-details {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

form .user-details .input-box{
    margin: 5px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

p{
    margin: 10px;
}
/* .user-details .input-box{
    margin: 10px;
} */
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
::placeholder{
    color: #43e97b;
}

.user-details .input-box input{
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border-radius: 1px solid #ccc;
    padding-left: 15px;
    font-size: 15px;
}

textarea{
    height: 50px;
    width:450px ;
}

select{
    height:25px;
    width: 50%;
}
.gender-title{
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content:space-between ;
    border: 1px solid black;

}

button{
    height: 45px;
    width: 450px;
    background-color: #43e97b;
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
}




